# cnf whose VIG is a two level hierarchy, the two leaf communities are
# described by the first two clauses, where each leaf community has size 5
# the inter-community edges is described by the rest of the clause
p cnf 10 3
1 -2 -3 4 5 0
-6 -7 8 -9 10 0
1 6 0
