# cnf whose VIG is a two level hierarchy, the three leaf communities are
# described by the first three clauses, where each leaf community has size 5
# the inter-community edges is described by the rest of the clause
p cnf 15 4
1 -2 -3 4 5 0
-6 -7 8 -9 10 0
11 12 -13 14 -15 0
1 6 0
10 14 0

